.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

## Local Ignored files for grant system

/application/config/database.php
/index.php
/application/config/config.php
/application/language/*
/uploads/attachments/*
## PHPDOC documentation files
/docs
/index.php
/application/controllers/Context_*
/application/third_party/Packages/Core/models/Context_*
/application/third_party/Packages/Core/libraries/Context_*

!/application/controllers/Context_definition.php
!/application/third_party/Packages/Core/models/Context_definition_model
!/application/third_party/Packages/Core/libraries/Context_definition_library

!/application/controllers/Context_global.php
!/application/controllers/Context_global_user.php
!/application/third_party/Packages/Core/models/Context_definition_model
!/application/third_party/Packages/Core/models/Context_global_model
!/application/third_party/Packages/Core/models/Context_global_user_model
!/application/third_party/Packages/Core/libraries/Context_definition_library
!/application/third_party/Packages/Core/libraries/Context_global_library
!/application/third_party/Packages/Core/libraries/Context_global_user_library